tbody > tr:hover {
  background-color: #f0f8ff;
}

tbody > tr {
  height: 4em;
}

.table > tbody > tr > td,
.table > thead > tr > td {
  /* text-align: center; */
  vertical-align: middle;
}

.table > tbody > tr > td:first-child {
  width: 60%;
}

.table > tbody > tr > td:nth-child(2) {
  width: 20%;
}

.micstop {
  transform: scale(1.5);
}
